<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567165121705-i5cftt2l52vssl1jq137b31udfehss4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567165121705-i5cftt2l52vssl1jq137b31udfehss4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBHedoc0OOSSRSjZ4r0J46Y7ot7wkgkZvU</string>
	<key>GCM_SENDER_ID</key>
	<string>567165121705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.isaaclee.WET</string>
	<key>PROJECT_ID</key>
	<string>iklwet</string>
	<key>STORAGE_BUCKET</key>
	<string>iklwet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567165121705:ios:18a262ce9b3a688eb765b8</string>
</dict>
</plist>